.searchbar_inputs .container{
    position: relative;
    padding-top:96px;
    padding-bottom: 27px;
}
@media (max-width:575.8px){
    .product_page_row {
       
        justify-content:center;
    }
 }